* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.day-wrapper {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-gap: 2rem;
}