* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.day-wrapper {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    grid-gap: 2rem;
}

.blocklist {
    padding: 2rem !important;
}

.delete {
    padding-left: 2rem;
}

.small-text {
    font-size: 1rem;
}

.padding-small {
    padding: 1rem;
}

.medium-text {
    font-size: 1.4rem;
}

.brand-logo {
    padding-left: 1rem;
}